/* TemplatePage.module.css */
.container {
    display: flex;
}
  
.header {
    width: 100%;
    background-color: #f3f4f6;
    padding: 20px;
    text-align: center;
}
  
.navBar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #111;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}
  
.navBar.open {
    transform: translateX(0);
}
  
.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
}  